.header {
    width: 100%;
    transition: 0.3s;
    z-index: 22;
}

.header.is-scrolled {
    background-color: white;
}

.header a {
    color: white;
}

.header.is-scrolled a {
    color: black;
}
.header svg {
    height: 42px;
    transition: 0.3s;
 }

.header-lang button {
    color: white;
}

.header-lang button:last-child {
    color: black;
}


.header.is-scrolled .header-lang button{
    color: black;
}

.header.is-scrolled svg path{
  fill: #324746;
}

.header__container {
    transition: 0.3s;
}
.header__container {

}
.header.is-scrolled .header__container{
    padding: 10px 20px;
 }

.header__center {
    width: 200px;
}

.header__button {
    color: #324746;
    text-align: center;
    font-family: Actay Wide;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    background: #FDB920;
    padding: 15px 30px;
}

.is-scrolled-blog {
    background-color: red;
}