.header {
    width: 100%;
    transition: 0.3s;
    z-index: 22;
}

.header.is-scrolled {
    background-color: white;
}
.header img {
    height: 42px;
    transition: 0.3s;
 }
.header.is-scrolled img {
   height: 30px;
}

.header__button {
    color: #324746;
    text-align: center;
    font-family: Actay Wide;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    background: #FDB920;

    padding: 15px 30px;
}