body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    margin: 0;
    font-family: 'ActayWide Reg';
}

html {
  overflow-x: hidden;
}

.main-btn {
  background-color: #e50b00;
  padding: 15px 20px;
  color: white;
  border-radius: 18px;
}

.main-btn a{
  font-weight: 600;
  color: white !important;
}

.nohover:hover{
  font-weight: 600;
  color: white !important;
}

@font-face {
  font-family: 'ActayWide'; /* Имя шрифта */
  src: url('./assets/fonts/actaywide-bold.otf') format('opentype');
  font-weight: normal; /* Обычный начертание */
  font-style: normal; /* Обычный стиль */
}

@font-face {
  font-family: 'ActayWide Reg'; /* Имя шрифта */
  src: url('./assets/fonts/actay-regular.otf') format('opentype');
  font-weight: normal; /* Обычный начертание */
  font-style: normal; /* Обычный стиль */
}

/* Пример использования шрифта */
.title {
  font-family: 'ActayWide', sans-serif;
}