@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #324746;
  --yellow: #FDB920;
  --gray: #ECECEC;
  --black: #151515;
}


body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Actay';
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.title {
  color: #FFF;
  font-family: Actay Wide;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ac-wide{
  font-family: Actay Wide;
  font-weight: 700;
  line-height: normal;
}

.title-black {
  color: #324746;
  font-family: Actay Wide;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@font-face {
  font-family: 'Actay Wide'; 
  src: url('./assets/fonts/actaywide-bold.otf') format('opentype');
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'Actay';
  src: url('./assets/fonts/actay-regular.otf') format('opentype');
  font-weight: normal; 
  font-style: normal; 
}

.subtitle {
  color: #FDB920;
  font-family: Actay;
  font-style: normal;
  line-height: normal;
}